.btn { border:none; outline:none; }
.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear;
}
.fade.in {
    opacity:1;
}
.modal-open {
    overflow:hidden;
}
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0;
}
.modal.fade .modal-dialog {
    -webkit-transition:-webkit-transform .3s ease-out;
    -o-transition:-o-transform .3s ease-out;
    transition:transform .3s ease-out;
    -webkit-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0);
}
.modal-open .modal {
    overflow-x:hidden;
    overflow-y:auto;
}
.modal-dialog {
    position:relative;
    width:auto;
    margin:10px;
}
.modal-content {
    position:relative;
    background-color:#FFF;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0, 0, 0, .2);
    border-radius:6px;
    outline:0;
    -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    box-shadow:0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#000;
}
.modal-backdrop.fade {
    filter:alpha(opacity=0);
    opacity:0;
}
.modal-backdrop.in {
    filter:alpha(opacity=50);
    opacity:.5;
}
.modal-header {
    min-height:16.42857143px;
    padding:15px;
    border-bottom:1px solid #E5E5E5;
}
.modal-header .close {
    margin-top:-2px;
}
.modal-title {
    margin:0;
    line-height:1.42857143;
}
.modal-body {
    position:relative;
    padding:15px;
}
.modal-footer {
    padding:15px;
    text-align:right;
    border-top:1px solid #E5E5E5;
}
.modal-footer .btn + .btn {
    margin-bottom:0;
    margin-left:5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left:-1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left:0;
}
.modal-scrollbar-measure {
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll;
}
@media (min-width:768px) {
    .modal-dialog {
        width:600px;
        margin:30px auto;
    }
    .modal-content {
        -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);
        box-shadow:0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width:300px;
    }
}
@media (min-width:992px) {
    .modal-lg {
        width:900px;
    }
}
.modal-header .close {
    margin-top:-2px;
}
button.close {
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
}
.modal .modal-title { font-size:18px; }
.close {
    float:right;
    font-size:21px;
    font-weight:bold;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #FFF;
    filter:alpha(opacity=20);
    opacity:.2;
}
.close:hover,
.close:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:.5;
}
button.close {
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
    background:transparent;
    border:0;
}
.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    border:0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto;
}
.form-horizontal .form-group {
    margin-right:-15px;
    margin-left:-15px;
}
@media (min-width:768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top:14px;
    }
}
@media (min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top:6px;
    }
}
.form-group {
    margin-bottom:15px;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    display:table;
    content:" ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear:both;
}
.center-block {
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.pull-right {
    float:right !important;
}
.pull-left {
    float:left !important;
}
.hide {
    display:none !important;
}
.show {
    display:block !important;
}
.invisible {
    visibility:hidden;
}
.text-hide {
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0;
}
.hidden {
    display:none !important;
    visibility:hidden !important;
}
.container-fluid {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
.modal .modal-title { font-size:18px; }
.modal .row {
    margin-right:-15px;
    margin-left:-15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float:left;
}
.col-xs-12 {
    width:100%;
}
.col-xs-11 {
    width:91.66666667%;
}
.col-xs-10 {
    width:83.33333333%;
}
.col-xs-9 {
    width:75%;
}
.col-xs-8 {
    width:66.66666667%;
}
.col-xs-7 {
    width:58.33333333%;
}
.col-xs-6 {
    width:50%;
}
.col-xs-5 {
    width:41.66666667%;
}
.col-xs-4 {
    width:33.33333333%;
}
.col-xs-3 {
    width:25%;
}
.col-xs-2 {
    width:16.66666667%;
}
.col-xs-1 {
    width:8.33333333%;
}
.col-xs-pull-12 {
    right:100%;
}
.col-xs-pull-11 {
    right:91.66666667%;
}
.col-xs-pull-10 {
    right:83.33333333%;
}
.col-xs-pull-9 {
    right:75%;
}
.col-xs-pull-8 {
    right:66.66666667%;
}
.col-xs-pull-7 {
    right:58.33333333%;
}
.col-xs-pull-6 {
    right:50%;
}
.col-xs-pull-5 {
    right:41.66666667%;
}
.col-xs-pull-4 {
    right:33.33333333%;
}
.col-xs-pull-3 {
    right:25%;
}
.col-xs-pull-2 {
    right:16.66666667%;
}
.col-xs-pull-1 {
    right:8.33333333%;
}
.col-xs-pull-0 {
    right:auto;
}
.col-xs-push-12 {
    left:100%;
}
.col-xs-push-11 {
    left:91.66666667%;
}
.col-xs-push-10 {
    left:83.33333333%;
}
.col-xs-push-9 {
    left:75%;
}
.col-xs-push-8 {
    left:66.66666667%;
}
.col-xs-push-7 {
    left:58.33333333%;
}
.col-xs-push-6 {
    left:50%;
}
.col-xs-push-5 {
    left:41.66666667%;
}
.col-xs-push-4 {
    left:33.33333333%;
}
.col-xs-push-3 {
    left:25%;
}
.col-xs-push-2 {
    left:16.66666667%;
}
.col-xs-push-1 {
    left:8.33333333%;
}
.col-xs-push-0 {
    left:auto;
}
.col-xs-offset-12 {
    margin-left:100%;
}
.col-xs-offset-11 {
    margin-left:91.66666667%;
}
.col-xs-offset-10 {
    margin-left:83.33333333%;
}
.col-xs-offset-9 {
    margin-left:75%;
}
.col-xs-offset-8 {
    margin-left:66.66666667%;
}
.col-xs-offset-7 {
    margin-left:58.33333333%;
}
.col-xs-offset-6 {
    margin-left:50%;
}
.col-xs-offset-5 {
    margin-left:41.66666667%;
}
.col-xs-offset-4 {
    margin-left:33.33333333%;
}
.col-xs-offset-3 {
    margin-left:25%;
}
.col-xs-offset-2 {
    margin-left:16.66666667%;
}
.col-xs-offset-1 {
    margin-left:8.33333333%;
}
.col-xs-offset-0 {
    margin-left:0;
}
@media (min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float:left;
    }
    .col-sm-12 {
        width:100%;
    }
    .col-sm-11 {
        width:91.66666667%;
    }
    .col-sm-10 {
        width:83.33333333%;
    }
    .col-sm-9 {
        width:75%;
    }
    .col-sm-8 {
        width:66.66666667%;
    }
    .col-sm-7 {
        width:58.33333333%;
    }
    .col-sm-6 {
        width:50%;
    }
    .col-sm-5 {
        width:41.66666667%;
    }
    .col-sm-4 {
        width:33.33333333%;
    }
    .col-sm-3 {
        width:25%;
    }
    .col-sm-2 {
        width:16.66666667%;
    }
    .col-sm-1 {
        width:8.33333333%;
    }
    .col-sm-pull-12 {
        right:100%;
    }
    .col-sm-pull-11 {
        right:91.66666667%;
    }
    .col-sm-pull-10 {
        right:83.33333333%;
    }
    .col-sm-pull-9 {
        right:75%;
    }
    .col-sm-pull-8 {
        right:66.66666667%;
    }
    .col-sm-pull-7 {
        right:58.33333333%;
    }
    .col-sm-pull-6 {
        right:50%;
    }
    .col-sm-pull-5 {
        right:41.66666667%;
    }
    .col-sm-pull-4 {
        right:33.33333333%;
    }
    .col-sm-pull-3 {
        right:25%;
    }
    .col-sm-pull-2 {
        right:16.66666667%;
    }
    .col-sm-pull-1 {
        right:8.33333333%;
    }
    .col-sm-pull-0 {
        right:auto;
    }
    .col-sm-push-12 {
        left:100%;
    }
    .col-sm-push-11 {
        left:91.66666667%;
    }
    .col-sm-push-10 {
        left:83.33333333%;
    }
    .col-sm-push-9 {
        left:75%;
    }
    .col-sm-push-8 {
        left:66.66666667%;
    }
    .col-sm-push-7 {
        left:58.33333333%;
    }
    .col-sm-push-6 {
        left:50%;
    }
    .col-sm-push-5 {
        left:41.66666667%;
    }
    .col-sm-push-4 {
        left:33.33333333%;
    }
    .col-sm-push-3 {
        left:25%;
    }
    .col-sm-push-2 {
        left:16.66666667%;
    }
    .col-sm-push-1 {
        left:8.33333333%;
    }
    .col-sm-push-0 {
        left:auto;
    }
    .col-sm-offset-12 {
        margin-left:100%;
    }
    .col-sm-offset-11 {
        margin-left:91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left:83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left:75%;
    }
    .col-sm-offset-8 {
        margin-left:66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left:58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left:50%;
    }
    .col-sm-offset-5 {
        margin-left:41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left:33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left:25%;
    }
    .col-sm-offset-2 {
        margin-left:16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left:8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left:0;
    }
}
@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float:left;
    }
    .col-md-12 {
        width:100%;
    }
    .col-md-11 {
        width:91.66666667%;
    }
    .col-md-10 {
        width:83.33333333%;
    }
    .col-md-9 {
        width:75%;
    }
    .col-md-8 {
        width:66.66666667%;
    }
    .col-md-7 {
        width:58.33333333%;
    }
    .col-md-6 {
        width:50%;
    }
    .col-md-5 {
        width:41.66666667%;
    }
    .col-md-4 {
        width:33.33333333%;
    }
    .col-md-3 {
        width:25%;
    }
    .col-md-2 {
        width:16.66666667%;
    }
    .col-md-1 {
        width:8.33333333%;
    }
    .col-md-pull-12 {
        right:100%;
    }
    .col-md-pull-11 {
        right:91.66666667%;
    }
    .col-md-pull-10 {
        right:83.33333333%;
    }
    .col-md-pull-9 {
        right:75%;
    }
    .col-md-pull-8 {
        right:66.66666667%;
    }
    .col-md-pull-7 {
        right:58.33333333%;
    }
    .col-md-pull-6 {
        right:50%;
    }
    .col-md-pull-5 {
        right:41.66666667%;
    }
    .col-md-pull-4 {
        right:33.33333333%;
    }
    .col-md-pull-3 {
        right:25%;
    }
    .col-md-pull-2 {
        right:16.66666667%;
    }
    .col-md-pull-1 {
        right:8.33333333%;
    }
    .col-md-pull-0 {
        right:auto;
    }
    .col-md-push-12 {
        left:100%;
    }
    .col-md-push-11 {
        left:91.66666667%;
    }
    .col-md-push-10 {
        left:83.33333333%;
    }
    .col-md-push-9 {
        left:75%;
    }
    .col-md-push-8 {
        left:66.66666667%;
    }
    .col-md-push-7 {
        left:58.33333333%;
    }
    .col-md-push-6 {
        left:50%;
    }
    .col-md-push-5 {
        left:41.66666667%;
    }
    .col-md-push-4 {
        left:33.33333333%;
    }
    .col-md-push-3 {
        left:25%;
    }
    .col-md-push-2 {
        left:16.66666667%;
    }
    .col-md-push-1 {
        left:8.33333333%;
    }
    .col-md-push-0 {
        left:auto;
    }
    .col-md-offset-12 {
        margin-left:100%;
    }
    .col-md-offset-11 {
        margin-left:91.66666667%;
    }
    .col-md-offset-10 {
        margin-left:83.33333333%;
    }
    .col-md-offset-9 {
        margin-left:75%;
    }
    .col-md-offset-8 {
        margin-left:66.66666667%;
    }
    .col-md-offset-7 {
        margin-left:58.33333333%;
    }
    .col-md-offset-6 {
        margin-left:50%;
    }
    .col-md-offset-5 {
        margin-left:41.66666667%;
    }
    .col-md-offset-4 {
        margin-left:33.33333333%;
    }
    .col-md-offset-3 {
        margin-left:25%;
    }
    .col-md-offset-2 {
        margin-left:16.66666667%;
    }
    .col-md-offset-1 {
        margin-left:8.33333333%;
    }
    .col-md-offset-0 {
        margin-left:0;
    }
}

@media (min-width:1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float:left;
    }
    .col-lg-12 {
        width:100%;
    }
    .col-lg-11 {
        width:91.66666667%;
    }
    .col-lg-10 {
        width:83.33333333%;
    }
    .col-lg-9 {
        width:75%;
    }
    .col-lg-8 {
        width:66.66666667%;
    }
    .col-lg-7 {
        width:58.33333333%;
    }
    .col-lg-6 {
        width:50%;
    }
    .col-lg-5 {
        width:41.66666667%;
    }
    .col-lg-4 {
        width:33.33333333%;
    }
    .col-lg-3 {
        width:25%;
    }
    .col-lg-2 {
        width:16.66666667%;
    }
    .col-lg-1 {
        width:8.33333333%;
    }
    .col-lg-pull-12 {
        right:100%;
    }
    .col-lg-pull-11 {
        right:91.66666667%;
    }
    .col-lg-pull-10 {
        right:83.33333333%;
    }
    .col-lg-pull-9 {
        right:75%;
    }
    .col-lg-pull-8 {
        right:66.66666667%;
    }
    .col-lg-pull-7 {
        right:58.33333333%;
    }
    .col-lg-pull-6 {
        right:50%;
    }
    .col-lg-pull-5 {
        right:41.66666667%;
    }
    .col-lg-pull-4 {
        right:33.33333333%;
    }
    .col-lg-pull-3 {
        right:25%;
    }
    .col-lg-pull-2 {
        right:16.66666667%;
    }
    .col-lg-pull-1 {
        right:8.33333333%;
    }
    .col-lg-pull-0 {
        right:auto;
    }
    .col-lg-push-12 {
        left:100%;
    }
    .col-lg-push-11 {
        left:91.66666667%;
    }
    .col-lg-push-10 {
        left:83.33333333%;
    }
    .col-lg-push-9 {
        left:75%;
    }
    .col-lg-push-8 {
        left:66.66666667%;
    }
    .col-lg-push-7 {
        left:58.33333333%;
    }
    .col-lg-push-6 {
        left:50%;
    }
    .col-lg-push-5 {
        left:41.66666667%;
    }
    .col-lg-push-4 {
        left:33.33333333%;
    }
    .col-lg-push-3 {
        left:25%;
    }
    .col-lg-push-2 {
        left:16.66666667%;
    }
    .col-lg-push-1 {
        left:8.33333333%;
    }
    .col-lg-push-0 {
        left:auto;
    }
    .col-lg-offset-12 {
        margin-left:100%;
    }
    .col-lg-offset-11 {
        margin-left:91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left:83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left:75%;
    }
    .col-lg-offset-8 {
        margin-left:66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left:58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left:50%;
    }
    .col-lg-offset-5 {
        margin-left:41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left:33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left:25%;
    }
    .col-lg-offset-2 {
        margin-left:16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left:8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left:0;
    }
}
@media (min-width:768px) {
    .form-horizontal .control-label {
        padding-top:7px;
        margin-bottom:0;
        text-align:right;
    }
}
.form-horizontal .has-feedback .form-control-feedback {
    right:15px;
}
@media (min-width:768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top:14px;
    }
}
@media (min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top:6px;
    }
}
.modal label {
    display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:bold;
}
.input-group {
    position:relative;
    display:table;
    border-collapse:separate;
}
.input-group[class*="col-"] {
    float:none;
    padding-right:0;
    padding-left:0;
}
.input-group .form-control {
    position:relative;
    z-index:2;
    float:left;
    width:100%;
    margin-bottom:0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
    height:46px;
    line-height:46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
    height:auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
    height:30px;
    line-height:30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
    height:auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display:table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius:0;
}
.input-group-addon,
.input-group-btn {
    width:1%;
    white-space:nowrap;
    vertical-align:middle;
}
.input-group-addon {
    padding:6px 12px;
    font-size:14px;
    font-weight:normal;
    line-height:1;
    color:#555;
    text-align:center;
    background-color:#EEE;
    border:1px solid #CCC;
    border-radius:4px;
}
.input-group-addon.input-sm {
    padding:5px 10px;
    font-size:12px;
    border-radius:3px;
}
.input-group-addon.input-lg {
    padding:10px 16px;
    font-size:18px;
    border-radius:6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top:0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.input-group-addon:first-child {
    border-right:0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.input-group-addon:last-child {
    border-left:0;
}
.input-group-btn {
    position:relative;
    font-size:0;
    white-space:nowrap;
}
.input-group-btn > .btn {
    position:relative;
}
.input-group-btn > .btn + .btn {
    margin-left:-1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
    z-index:2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    margin-right:-1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-left:-1px;
}
.table-responsive {
    min-height:.01%;
    overflow-x:auto;
}
@media screen and (max-width:767px) {
    .table-responsive {
        width:100%;
        margin-bottom:15px;
        overflow-y:hidden;
        -ms-overflow-style:-ms-autohiding-scrollbar;
        border:1px solid #DDD;
    }
    .table-responsive > .table {
        margin-bottom:0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space:nowrap;
    }
    .table-responsive > .table-bordered {
        border:0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left:0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right:0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom:0;
    }
}

.modal * {box-sizing: border-box;}
.modal .table { border-top: 1px solid #777777; border-bottom: 1px solid #ddd;     width: 100%; max-width: 100%; margin-bottom: 20px; text-align:center;}
.modal .table > thead > tr > th,
.modal .table > tbody > tr > th,
.modal .table > tfoot > tr > th,
.modal .table > thead > tr > td,
.modal .table > tbody > tr > td,
.modal .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.modal .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.modal .table {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #ddd;
}
.modal .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    background-color:#fafafa;
    text-align:center;
    font-size:14px;
}
.modal .table .end {
    color:#f4614d;
}
.modal .table .fa-close {
    color:#f4614d;
    font-size:14px;
}
.modal .table .standby {
    color:#e09633;
}
.modal .table .complete {
    color:#009cff;
}

.modal .table-zipcode thead, .table-zipcode tbody, .table-zipcode tr, .table-zipcode td, .table-zipcode th {
    display: block;
}
.modal .table-zipcode tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.modal .table-zipcode tbody {
    height: 300px;
    min-width:450px;
    overflow: auto;
}
.modal .table-zipcode tbody td, .table-zipcode thead th {
    width: 50%;
    float: left;
}

.modal table a {
    color: #428bca;
    text-decoration: none;
}
.modal table a:hover,
.modal table a:focus {
    color: #2a6496;
    text-decoration: underline;
}