@charset "utf-8";

/* default set */
@import url("base.css");
/* common*/
@import url("common.css");

.radius-15 {
border-radius: 15px;
}
.m-l-10 {
margin-left: 10px;
}

.m-t-10 {
margin-top: 10px;
}

.f-bold {
font-weight: bold;
}
.size-18 {
font-size: 18px;
}
.size-15 {
font-size: 15px;
line-height:20px
}
.size-14 {
font-size: 14px;
}
.size-35 {
font-size: 35px
}
.m-t-35 {
margin-top:30px
}
.l-h-25 {
line-height:25px
}
.border-1-b {
border:1px solid #b0b0b0
}
.bg-c-f {background:#f5f5f5
}
.call-img-txt {
float:left;width:130px
}
.call-img {
float:left;width:120px;margin-top:13px
}
.color-or {
color:#ff7e00;
}
.tit-icon { padding-left:25px;  background:url('../images/tit_icon.png') no-repeat 0 center; }
.pdf-btn {
background:#5895ce;padding:10px 40px 10px 40px;border-radius:5px;color:#fff
}
.color-f {
color:#ffffff
}
.m-r-50 {
margin-right:90px
}
.float-r {
float:right
}
.radius-5 {
border-radius:5px
}
.login-s-box {
margin:0 auto;width:50%;text-align:center;padding:30px 0px;border:1px solid #777777;
}
.login-btn-s {
padding-top:30px;border-top:1px solid #E5E5E5
}
.l-h-30 {
line-height:30px
}
.m-notice {
padding-bottom:8px;border-bottom:1px solid #b0b0b0
}
.notice-tit {
padding-bottom:8px;font-weight:bold;font-size:18px
}
.notice-view {
float:right;padding:0px 10px 0px 10px;border:1px solid #b0b0b0;border-radius:15px;font-size:11px
}
.min-h-400 {
height:400px;
line-height:20px;
vertical-align:top
}
.m-t-10 {
margin-top: 10px;
}